*{font-family: 'Open Sans', sans-serif;}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*****************  Antes de iniciar o chat  ********************/

button#open-chat{
    background:transparent url('../img/chat-icon.png')no-repeat;
    background-size: 100%;
    outline: none;
    border:none;
    cursor:pointer;
    height:60px;
    width:60px;
 /*   position:absolute;
    bottom:20px;
    right: 20px;*/
}

.bgrdn {
    transition-property: width, height;
    transition-duration: 0.4s, 0.4s;
    background: var(--chat-bg) url(../img/chat-icon.png)no-repeat;
    background-size: 80% 80%;
    background-position: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
}

/*************************************************************/


a{
	padding:4px 10px;
	text-decoration:none;
}

h6{
	display: inline;
	margin:0;
	padding:0;
	padding-top:12px;
}

form {
    display: block;
    text-align: center;
}

:root{
    --chat-size: 433px;
    --chat-bg:#333;
    --chat-text:#fff;
    --text-destaque:aqua;
}

.background{
    transition-property: width, height, background;
    transition-duration: 0.4s, 0.4s, 0.3s;
    border:1px solid #ccc;
    right: 0;
   /* height: 60vh;*/
    height:80vh;
    word-wrap: break-word;
    overflow: auto;
    margin-bottom: 11px;
    background: var(--chat-bg);
    color: var(--chat-text);
    padding: 12px 12px;
    padding-bottom: 0px!important;
    border-radius: 6px;
    width: var(--chat-size);
    position: fixed;
    bottom: 10px;
    cursor:pointer;
}

#comments-hub {
    padding:0 10px;
}
.comment-form {
    z-index: 1;
    display: none;
    position: fixed;
    bottom: 30px;
    padding: 8px 6px;
    box-sizing: border-box;
    border-radius: 5px;
    width: var(--chat-size);
}

.comment{
	font-size:13px;
    padding: 4px 0;
    border-radius: 5px;
    word-wrap: break-word;
}

separator{
	display: block; 
    width: 100%; 
    border-bottom: 1px solid transparent;
}

chat-nome {
    display:inline-block;
    color: var(--text-destaque);
}

#statusMSG {
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 1.5px;
    display: inline-block;
    color: var(--text-destaque);
    position: relative;
    top: 4px;
}

input {
    background: #fff;
    outline: none;
    border-radius: 2px;
    border: 1px solid #ffffff00;
    padding: 4px 8px;
    font-family: monospace; 
    display:inline-block;
    margin-bottom:2px;
}

input#input-nome{
    width: calc(var(--chat-size) * 0.2);
}

#input-mensagem {
    width: calc(var(--chat-size) * 0.65);
}

button#sbmt {
    background: var(--text-destaque);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 11px;
    padding: 6px 7px;
    border: 1px solid transparent;
    display: none;
}

.comment-form, #open-chat{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
}
